{% extends 'base.html' %}
{% block main_content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% for product in products %}
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{product}}</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">{{ product.description }}</p>
                            {% for tag in product.tag.all %}
                                <span class="current">
                                {% if tag == tag %}
                                {% endif %}
                                </span>
                                <a href="?tag={{ tag }}"> {{tag.name}} </a>
                            {% endfor %}
                            <form action="{% url 'subscriber' %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                                <input class="btn btn-primary" type="submit" role="button" value="subscribe">
                            </form>
                        </div>
                    {% endfor %}
                    {% include 'pagination.html'%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}